
<!DOCTYPE html>
<html><meta charset="utf-8"><body>
<h1>keyword</h1>
<div>
  <input id="q"></input>
  <br><button id="qButton">調査</button>
  <div id="result"></div>

  <!-- <textarea id="q"></textarea>
  <br><button id="qButton">調査</button>
  <div id="result"></div> -->
</div>
<script>
// const qs = document.querySelector("q")
const qs = (q) => document.querySelector(q)
window.onload = () => {
  const q = qs('#q')
  const qButton = qs('#qButton')
  const result = qs('#result')
  // 判定ボタンを押した時 --- (*1)
  qButton.onclick = () => {
    result.innerHTML = "..."
    // APIサーバに送信するURLを構築 --- (*2)
    const api = "/api?q=" +
      encodeURIComponent(q.value)
    // APIにアクセス --- (*3)
    fetch(api).then((res) => {
      return res.json()
      // return res.json() // JSONで返す
    }).then((put) => {
      result.innerHTML = put["list_keywords"]})
  }
}
</script>
</body></html>
